# MySQL Configuration
MYSQL_ROOT_PASSWORD=your_secure_root_password
MYSQL_DATABASE=employee_db

# Backend DB Connection
DB_HOST=db
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=your_secure_root_password
DB_NAME=employee_db

# JWT Configuration
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1h

# Backend Application Port
PORT=3001
FRONTEND_URL=http://localhost:5173

# Frontend API URL
VITE_API_URL=http://localhost:3001

# Frontend reCAPTCHA
VITE_RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI

# Environment (production for docker-compose)
NODE_ENV=production
